<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>User Signup</title>
  <link rel="stylesheet" href="/css/signup.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class="top-bar">
    <div class="website-name">Blog Website</div>
    <div class="menu-icon">&#9776;</div>
  </div>

  <div class="registration-container">
    <div class="registration-form">
      <h2>Register</h2>
      <form onsubmit="signup(event)">
        <label for="username">Username</label>
        <input type="text" id="name" name="username" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Signup</button>
      </form>
    </div>
  </div>

  <div class="bottom-bar">
    <div class="bottom-icons">
      <div class="icon-container" onclick="redirectTo('/')">
        <span>Sign-Up</span>
      </div>
      <div class="icon-container" onclick="redirectTo('/login')">
        <span>Sign-In</span>
      </div>
    </div>
  </div>
  <script>
    function redirectTo(url) {
      window.location.href = url;
    }
  </script>
  <script src="/js/signup.js"></script>
</body>

</html>